@charset "utf-8";
/* CSS reset */
*{font-family: "优黑","微软雅黑", "宋体", "Microsoft Yahei", "Pinghei", Arial, Helvetica, sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
fieldset,img {border:0; }
ol,ul {list-style:none; }
h1,h2,h3,h4,h5,h6,button,input,select,textarea {font-size:100%;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0; border:0;}
table {border-collapse:collapse;border-spacing:0;}
i, cite, em, var, dfn, address {font-style: normal;}
body{font:12px "微软雅黑", "宋体",Arial, Helvetica, sans-serif;}
a{color: #313131;text-decoration: none;}
a:hover{text-decoration: underline;}
a:active, a:focus{outline:none}
a[href^="http://tongji.baidu.com"]{display: none;}
.fl{float: left;}
.fr{float: right;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size:0;}
.clearfix{zoom:1;clear:both;}
.clear{clear:both; height:0; line-height:0; font-size:0;}
.hidden,.none{display: none;}

.display-flexbox {
    display: -webkit-box;   /* 兼容旧的 webkit，Android 2.x */
    display: -webkit-flex;  /* 标准写法 带 webkit 前缀，兼容标准确立之前的 webkit */
    display: flex;          /* 标准写法 最新的 webkit, firefox, msie 可以支持 */
}
.flexbox-children {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

body{background: #fff url(../img/bg.jpg) no-repeat center 0;}

/**
@ login page
**/
body.login_page{background: #fff url(../img/bg_login.jpg) no-repeat center 0;}
.login_wrapper{text-align: center;padding: 420px 0 0;}
	.login_wrapper h1{font-size: 30px;color: #333e4b;margin-bottom: 20px;}
	.login_item{width: 283px;position: relative;display: block;margin: 17px auto;}
		.login_wrapper input[type="text"],
		.login_wrapper input[type="password"]{width: 100%;line-height: 35px;border: 1px solid #a5a5a5;border-radius: 3px;outline: none;font-size: 16px;text-indent: 10px;}
		.login_item.error input[type="text"],
		.login_item.error input[type="password"]{border-color: #f60000;}
		.login_item .msg{width: 0;line-height: 35px;background: #cb0000;position: absolute;top:0;right: 0;margin: 0 -10px 0 0;display: none;}
			.error .msg{display: block;}
			.msg > span{white-space: nowrap;display: block;background: #cb0000;float: left;font-size: 16px;color: #fff;border: 1px solid #cb0000;border-radius: 3px;padding: 0 13px;}
				.msg > span::before{
					content: '';
					width: 0;
					height: 0;
					top: 50%;
					left: 0;
					margin: -7px 0 0 -12px;
					position: absolute;
					border-width: 6px;
					border-style: solid;
					border-color: transparent #cb0000 transparent transparent;}
		.btn{width: 283px;line-height: 37px;background: #1a8fe1;background: linear-gradient(to bottom, #2f9ada, #0282e9);display: block;margin: 0 auto;color: #fff;border: none;border-radius: 3px;cursor: pointer;font-size: 17px;letter-spacing: 10px;text-indent: 5px;}
			.btn:hover{background: #0282e9;}
	.login_wrapper h2{font-size: 16px;color: #333333;}
	.login_link{font-size: 16px;color: #3c78aa;}
	.login_btn{margin: 17px auto;}
	.info_box{width: 283px;margin: 0 auto 50px;border: 1px solid #669dc2;padding: 15px 23px;background: #f0fcfe;border-radius: 9px;color: #333333;font-size: 16px;}
		.info_box .btn{margin-top: 17px;}

/**
@index page
**/
.wrapper{width: 1047px;background: #f1f3f6;padding: 0 40px 40px;margin: 40px auto 0;border-radius: 0 0 1px 1px;}
	header{height: 84px;background: #333e4b;margin: 0 -40px;}
		.logo{width: 206px;height: 84px;padding-left: 40px;background: url(../img/logo.png) no-repeat 40px center;display: block;text-indent: -99999px;float: left;}





















